/*use transform*/
/*Flexboxes*/
/*Grid*/
/*Learn header and footer tags in HTML*/
/*I need the Logo*/
/*possibly some pictures of the committee unless i can find them myself the ones from instagram wont suffice*/

html {
    /*background-color: #343434;*/
}
.instagram-hub {
    position: relative;
    z-index: 0;
}
body {
    background-color: white;
    overflow-x: hidden;
}
form {
    position: relative;
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin: auto;
    width: 320px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    padding: 10px;
}
footer {
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    box-shadow: 0 0 5px black;
    background-color: mediumvioletred;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
}
.website {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.PakSocLogo {
    position: relative;
    /*border: #d6249f 2px solid;*/
}
.Header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    color: #343434;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 15px 40px rgba(199,21,133,0.2);
    text-align: center;
    position: fixed;
}
.NUPS {
    margin: auto;
    font-family: 'Lato', sans-serif;
}
.opening {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    color: white;
    text-shadow: 10px 10px 40px rgba(199,21,133,0.2);
}
.button{
    display: inline-flex;
    flex-direction: row;
    opacity: 1;
    position: relative;
    bottom: 83%;
}
.image-box {
    display: flex;
    flex-flow: column;
    position: relative;
    max-width: 100%;
    height: 700px;
}
.image {
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease-in;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.box {
    position: relative;
    margin: 62px auto auto auto;
    max-width: 100vw;
    height: 700px;
}
.box img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.showing {
    opacity: 1;
    z-index: -2;
    transition: none;
}
.box a {
    text-align: center;
    position: relative;
    margin: auto;
}
.aos {
    opacity: 0;
}
.aos p{
    position: relative;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding: 20px;
    max-width: 700px;
    text-align: center;
    border: mediumvioletred solid;
    border-radius: 0;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
    transition: 0.7s ease-out;
    margin: 100px auto auto;
}
.aos.active {
    opacity: 1;
    transform: translateY(-65px);
    transition: 0.7s ease-in;
}
.Linktree {
    background: linear-gradient(45deg, #aaf0d1 0%, #1be998 100%);
    padding: 10px;
    text-decoration: none;
}
a.NUSU {
    opacity: 1;
    font-family: arial, sans-serif;
    border: lavender solid;
    text-decoration: none;
    color: lavender;
    background-color: #343434;
    padding: 8px;
    text-align: center;
    margin: auto;
    border-radius: 3px;
    box-shadow: 0 0 4px black;
    transition: 0.3s ease-in;
}
a.NUSU:hover {
    box-shadow: 0 0 7px black;
    border: #343434 solid;
    color: #343434;
    transition-duration: 0.3s;
    background-color: #e6caff;
}
.fa-instagram:hover {
    box-shadow: 0 0 7px gold;
    border: white solid;
    transition-duration: 0.3s;
}
.fa-instagram {
    font-family: arial, sans-serif;
    border: white solid;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    padding: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    transition-duration: 0.5s;
    width: 135px;
    position: relative;
}
.fa-envelope {
    color: white;
}
h2 {
    font-family: 'Lato', sans-serif;
}
.h2 {
    color: mediumvioletred;
    text-align: center;
}
.outerCard {
    position: relative;
    z-index: 0;
    border-radius: 0;
    padding: 10px;
    /*margin-bottom: 0px;*/
}
.committee{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    background-color: white;
    transition: transform 0.3s;
    border-radius: 15px;
    width: 200px;
}
.committee:hover {
    transform: scale(110%);
}
.swiper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
    width: 350px;
    height: 250px;
    border: #d6249f solid 3px;
    border-radius: 15px;
}
.swiper-slide {
    /*margin: auto;*/
    /*width: 10vw;*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-box-pack: center;*/
    /*-ms-flex-pack: center;*/
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/
    /*border: crimson dot-dash;*/
    /*background-color: #343434;*/
}
.swiper-slide img {
    position: absolute;
    left: 11%;
    top: 10%;
    border-radius: 50%;
    border: 3px solid #d6249f;
}
.cardContent {
    position: absolute;
    right: 11%;
    top: 10%;
}
#sideTab {
    text-decoration: none;
    color: white;
}
.sideTab {
    color: white;
    text-decoration: none;
    position: fixed;
    bottom: 50%;
    right: -6px;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
    background-color: #d6249f;
    transform: rotate(-90deg);
    box-shadow: 0 0 7px black;
}
.notification {
    position: fixed;
    z-index: 10;
    bottom: 59%;
    right: 10px;
    width: 100px;
    height: 100px;
    border: #343434 2px solid;
    background: #00bfb6;
    padding: 0 3px 0 3px;
    text-align: center;
    font-weight: 800;
    font-size: smaller;
    color: #fff;
    font-family: arial, sans-serif;
}
.notification:before {
    content: "";
    /*width: 0px;*/
    /*height: 0px;*/
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00bfb6;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    right: 19px;
    bottom: -19px;
}
.notification p {
}
.close-button {
    background: grey;
    border: 0;
    padding: 0 3px 0 3px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 3px;
    margin: 0;
}
.close-button:hover {
    background: #343434;
    cursor: pointer;
}