/*use transform*/
/*Flexboxes*/
/*Grid*/
/*Learn header and footer tags in HTML*/
#header {
    opacity: 0.97;
}
.website {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
h1 {
    background-color: lavender;
    top: -31px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 1px 5px black;
    /*border: 1px solid;*/
    padding: 2.3%;
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
    text-align: center;
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
    position: fixed;
    transition: transform 1s, 1s;
    will-change: transition;
}
h1:hover{
    transform: translateY(10px);
    background-color: #e6caff;
    transition-duration: 1s, 1s;
    animation: hoverEnlarge;
}
@keyframes hoverEnlarge {
    /*0%{font-size: 32px;}*/
    /*100%{font-size: 35px;}*/
    0%{background-color: lavender;}
    100%{background-color: #e6caff}
}
.image {
    /*border: dashed 2px red;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    /*width: 100%;*/
}
.box {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    margin: 70px auto 0px auto;
    max-width: 1200px;
    height: 700px;
    /*background-image: url(../Kamran6433.github.io/Images/Events%20Management%20festival%20image.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*filter: blur(4px);*/
    /*-webkit-filter: blur(4px);*/
}
.box img {

    /*width: 100%;*/
    /*height: 100%;*/
}
.box a {
    border: chartreuse 3px solid;
    position: absolute;
    align-content: center;
    top: 50%;
    left: 50%;
}
button {
    border: chartreuse 3px solid;
    position: absolute;
    align-content: center;
    top: 50%;
    left: 50%;
}
p {
    /*border: 1px solid;*/
    background-color: aliceblue;
    font-family: 'M PLUS 1p', sans-serif;
    padding: 8%;
    text-align: center;
    border: black solid;
    border-radius: 2%;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
a.NUSU {
    /*border: 1px solid;*/
    font-family: 'Fredoka One', cursive;
    border: lavender solid;
    text-decoration: none;
    color: lavender;
    background-color: black;
    padding: 12px;
    text-align: center;
    margin: auto;
    width: auto;
    border-radius: 55px;
    box-shadow: 0px 1px 2.5px black;
    transition: transform 1s;
}
a.NUSU:hover {
    transform: translateY(10px);
    box-shadow: 0px 1px 5px black;
    border: #e6caff solid;
    color: #e6caff;
    transition-duration: 1s, 1s;
}
#Form {
    /*border: 1px solid;*/
    background-color: #e6caff;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: bolder;
    padding: 5%;
    text-align: center;
}
.fa:hover {
    opacity: 0.6;
}
.fa-instagram {
    background: darkmagenta;
    color: white;
    border: chartreuse solid 2px;
    width: 135px;
    position: relative;
}
.fa {
    text-align: center;
    text-decoration: none;
    border-radius: 15%;
}
h2 {
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
    text-align: center;
}
.cards {
    background-color: #f5f5f5;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}
.committee{
    background-color: #f5f5f5;
    border: 2px solid purple;
    transition: transform 0.3s;
}
.committee:hover {
    transform: scale(110%);
}