@charset "UTF-8";
/*Fonts: Futura, Helvetica*/
/*Give the website a Logo for the URL*/
/*color split 60/20/10*/
/*mix the colors up in that split ^*/

/*padding: 0;*/
/*margin: 0;*/
/*^^ to make the website touch the edges*/
html {
}
body {
    background-color: white;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
/*form {*/
/*    position: relative;*/
/*    background-color: ghostwhite;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    font-weight: bolder;*/
/*    margin: auto;*/
/*    max-width: 400px;*/
/*    text-align: center;*/
/*    border: white solid 6px;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 3px 2px 1px rgba(0, 0, 255, .2);*/
/*    padding: 10px;*/
/*}*/
footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    background-image: linear-gradient(to top, mediumseagreen 0%, #3cba92 100%);    padding: 10px;
    text-align: center;
}
.website {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.PakSocLogo {
    margin: auto auto auto 0;
    position: relative;
}
.Header::before {
    content: "";
    position: fixed;
    height: 100px;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: #e6e6e6 1px solid;
}
.Header {
    z-index: 5;
    height: 100px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    border-top: #e6e6e6 1px solid;
    border-bottom: #e6e6e6 1px solid;
    text-align: center;
    position: fixed;
    box-shadow: #343434 0 2px 50px -30px;
}
.NUPS {
    position: relative;
    color: #343434;
    font-size: xxx-large;
    margin: auto 0 auto 0;
    font-family: 'Lato', sans-serif;
}
.Popup {
    z-index: 1;
    width: 153px;
    display: inline;
    margin: auto -20px auto auto;
    height: 50px;
}
.SendUsAMessage {
    position: relative;
    background-color: #00acee;
    text-decoration: none;
    padding: 7px;
    border-radius: 4px;
    color: white;
}
.talkButton {
    position: relative;
    background: #00acee;
    bottom: -4px;
    height: 33px;
    width: 40px;
    border: white solid;
    border-radius: 10px;
    box-shadow: -2px 2px 1px 1px #0090d0;
    cursor: pointer;
}
.talkButton::before {
    content: "";
    position: absolute;
    border-left: 10px solid #00acee;
    border-right: 10px solid transparent;
    border-top: 10px solid #00acee;
    border-bottom: 10px solid transparent;
    right: 5px;
    bottom: -12px;
}
.AllButtons {
    height: 312px;
    max-width: 1200px;
    position: relative;
    display: flex;
    flex-flow: column;
}
.opening {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    color: #fffBf1;
    text-shadow: 0 0 5px #000000;
}
.button{
    position: relative;
    display: inline-flex;
    flex-direction: row;
}
.image-box {
    display: flex;
    flex-flow: column;
    position: relative;
    max-width: 100%;
    height: 700px;
}
.image {
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease-in;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.box {
    position: relative;
    margin: 62px auto auto auto;
    max-width: 100vw;
    max-height: 700px;
}
.box img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.showing {
    opacity: 1;
    z-index: -2;
    transition: none;
}
.box a {
    text-align: center;
    position: relative;
    margin: auto;
}
a.Linktree {
    width: 100%;
    text-decoration: none;
    color: #fffBf1;
    background-image: linear-gradient(to right, #00bfb6, #00bfb6);
    font-size: x-large;
    padding: 35px;
    font-family: arial, sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in;
}
a.Linktree:hover {
    color: #343434;
    transition-duration: 0.3s;
    background: #fffBf1;
}
a.NUSU {
    width: 100%;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: x-large;
    padding: 35px;
    text-decoration: none;
    color: #fffBf1;
    background-image: linear-gradient(to right, #00acee, #0094cd);
    text-align: center;
    transition: 0.3s ease-in;
}
a.NUSU:hover {
    color: #343434;
    transition-duration: 0.3s;
    background: #fffBf1;
}
a.instagram:hover {
    color: #343434;
    transition-duration: 0.3s;
    background: #fffBf1;
}
a.instagram {
    font-family: arial, sans-serif;
    background: linear-gradient(#d6249f, #ff2cbb);
    font-weight: bold;
    font-size: x-large;
    padding: 35px;
    color: #fffBf1;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease-in;
    width: 100%;
}
#NUSU {
    border-bottom: #0090d0 3px solid;
}
#instagram {
    border-bottom: #c22591 3px solid;
}
#linktree {
    border-bottom: #00aba2 3px solid;
}
.fa-envelope {
    color: white;
}
h2 {
    font-family: 'Lato', sans-serif;
}
.h2 {
    color: #d6249f;
    text-align: center;
    font-size: xx-large;
    margin: 0 auto 10px auto;
}
#AboutTheSociety {
    color: #fffBf1;
    max-width: 500px;
    margin: auto auto 20px auto;
}
#about {
    padding-bottom: 5px;
    border-bottom: #0090d0 3px solid;
}
.outerCard {
    margin-top: -18px;
    background: #fffBf1;
    position: relative;
    z-index: 0;
    padding: 0;
}
.MeetTheCommittee {
    padding: 0 50px 50px 50px;
}
#MeetTheWonderfulCommittee {
    color: #343434;
}
.swiper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 340px;
    height: 350px;
    border-radius: 0 0 20px 20px;
    border: #fffBf1 solid 4px;
    box-shadow: -10px 10px 2px 1px #00aba2;
}
.swiper::before {
    content: "";
    position: absolute;
    height: 62.5%;
    width: 100%;
    border-bottom: #fffBf1 4px solid;
    background-image: linear-gradient(to right, #00bfb6 0%, #00aba2 100%);
}
.swiper-slide img {
    position: absolute;
    left: 50%;
    top: 31%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: #fffBf1 3px solid;
    box-shadow: #fffBf1 0 0 10px;
}
.cardContent {
    width: 270px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    font-size: larger;
    color: #343434;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    border-radius: 3px;
}
.events {
    background-color: #d6249f;
    padding: 1px 20px 50px 20px;
}
#OurEvents {
    border: #d6249f 1px solid;
    position: relative;
    width: 300px;
    height: 100px;
    color: #fffBf1;
    padding: 0;
    border-bottom: #c22591 3px solid;
}
.OurEventsFlexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.ChaiAndChillBox {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Lato', sans-serif;

}
.bold {
    color: white;
    font-weight: bold;
}
.QawwaliNightBox {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}
.FlexHeader {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    color: #fffBf1;
    font-size: larger;
}
#ChaiAndChill {
    padding: 2px;
    border-bottom: #c22591 2px solid;
}
#QawwaliNight {
    padding: 5px;
    border-bottom: #c22591 2px solid;
}
#Chai {
    border-radius: 20px;
    max-width: 80%;
    height: 450px;
    border: #fffBf1 solid 3px;
    box-shadow: -10px 10px 2px 1px #c22591;
}
video {
    max-width: 85%;
    height: 350px;
}
.flexHeader {
    border-radius: 5px;
    max-width: 500px;
}
.TextBox {
    padding: 20px;
    position: relative;
    top: 60px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(#d6249f, #ff2cbb);
    margin: auto 3% 1% 3%;
    text-align: left;
    border: #fffBf1 solid 3px;
    box-shadow: -7px 7px 2px 1px #c22591;
}
.pictures {
    background-color: #00bfb6;
    padding: 1px 20px 50px 20px;
}
#LetsMakeMemories {
    color: #fffBf1;
    border: #00bfb6 1px solid;
    position: relative;
    width: 500px;
    height: 100px;
    padding: 0;
    border-bottom: #00aba2 3px solid;
}
.Collage {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    height: 600px;
    margin-bottom: 50px;
}
.Collage .containSlider {
    clip-path: circle(0% at 0 50%);
}
.Collage .containSlider.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}
.Collage .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.Collage .navigation .btn {
    background: rgba(255, 255, 255, 0.6);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.Collage .navigation .btn.active {
    background: #00acee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.containSlider {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.Collage .containSlider img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: #fffBf1 solid 3px;
    box-shadow: -10px 10px 2px 1px #00aba2;
}
@media (max-width: 1100px) {
    .opening {
        top: 450px;
        font-size: xx-large;
    }
    .Collage {
        width: 900px;
        height: 600px;
    }
    .Collage .containSlider {
        width: 100%;
        height: 100%;
    }
    .Collage .navigation {
        bottom: 35px;
    }
    .Collage .navigation .btn {
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}
@media (max-width: 950px) {
    .box {
        width: 100%;
        height: 550px;
    }
    .box img {
        width: 100%;
        height: 550px;
    }
    .opening {
        top: 350px;
        font-size: x-large;
    }
    .Collage {
        width: 400px;
        height: 250px;
    }
    .Collage .containSlider {
        width: 100%;
        height: 100%;
    }
    .Collage .navigation {
        bottom: 25px;
    }
    .Collage .navigation .btn {
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}
@media (max-width: 480px) {
    .box {
        width: 100%;
        height: 420px;
    }
    .box img {
        width: 100%;
        height: 450px;
    }
    .opening {
        top: 300px;
        font-size: larger;
    }
    .Collage {
        width: 320px;
        height: 200px;
    }
    .Collage .containSlider {
        width: 100%;
        height: 100%;
    }
    .Collage .navigation {
        bottom: 15px;
    }
    .Collage .navigation .btn {
        width: 8px;
        height: 8px;
        margin: 6px;
    }
      #LetsMakeMemories {
        width: 250px;
        height: 160px;
    }
}
@media (max-width: 560px) {
    #LetsMakeMemories {
        width: 270px;
        height: 160px;
    }
}
.aos {
    opacity: 0;
}
.AboutTheSocietyBackground {
    background-color: #00acee;
    background-image: linear-gradient(to right, #00acee, #0094cd);
    padding: 1px 20px 50px 20px;
}
.aos p{
    left: 50%;
    position: relative;
    color: #fffBf1;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    padding: 10px 15px 15px 10px;
    max-width: 700px;
    text-align: left;
    transform: translate(-50%, 50px);
    border: #fffBf1 solid 3px;
    box-shadow: -10px 10px 2px 1px #0090d0;
    transition: 0.7s ease-out;
    margin: 40px 30px auto 0;
    border-radius: 20px 20px 20px 0;
}
.aos.acts {
    opacity: 1;
    transform: translateY(-65px);
    transition: 0.7s ease-in;
}
.sideTab {
    color: white;
    text-decoration: none;
    position: fixed;
    bottom: 50%;
    right: -6px;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
    border: #fffBf1 2px solid;
    box-shadow: #b4fff1 0 5px 50px;
    background-color: #d6249f;
    transform: rotate(-90deg);
}
.notification {
    display: flex;
    position: fixed;
    z-index: 5;
    bottom: 60%;
    right: 2%;
    width: 150px;
    height: 110px;
    border: #fffBf1 2px solid;
    border-radius: 20px 20px 0 20px;
    background: #00bfb6;
    text-align: center;
    font-weight: 800;
    font-size: smaller;
    color: #fff;
    font-family: arial, sans-serif;
}
.notification p {
    color: #fffBf1;
    padding: 1px;
    position: relative;
    display: flex;
    margin: 30px 6px 40px 6px;
}
.hide {
    display: none;
}
.close-button.c1 {
    top: 3px;
    right: 3px;
}
.close-button.c2 {
    right: 0;
    height: 69px;
    width: 7.5%;
}
.close-button {
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    padding: 0 3px 0 3px;
    font-size: 1.5rem;
    border-radius: 50%;
    position: absolute;
    margin: 0;
    font-weight: bold;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
    border: #d6249f solid 4px;
    border-radius: 7px;
    background-color: white;
    z-index: 10;
    width: 800px;
    max-width: 90%;
}
.modal.act {
    transform: translate(-50%, -50%) scale(1);
}
.modalHeader {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}
.modalHeader .modalTitle{
    margin: auto auto auto 3%;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}
.modalHeader .close-button {
    align-items: center;
}
.modalBody {
    font-family: 'Lato', sans-serif;
    padding: 10px;
    text-align: left;
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 500ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}
#overlay.act {
    opacity: 1;
    pointer-events: all;
}